// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/

:root{
  --ion-background-color: #262626;
  --ion-text-color: #eeeeee;
  --ion-font-family: Avenir;
  --ion-item-background: #1A1A1A;

  --primary-color: #00C7A2;
  --secondary-color: #4C7ADC;
}

